header{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    padding: 2%;
}
footer{
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    padding: 2%;
}
p{
    padding: 8%;
    font-size: 115%;
}
.logo{
    width: 20%;
    height: 20%;
}

nav li{
    display: inline;
}

body{
    background-color: antiquewhite;
}
.broxa{
    width: 20%;
}